<html>
    <head>

        <title>Simple CV</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
       
    </head>
    <body>
    <div class="container">
    <h1>Simple CV</h1>
    {% for post in posts %}
    <div class="row">
    	<div class="col-sm-6">
      		<p>{{post.Name.name}}</p>
    	</div>
    	<div class="col-sm-6" s>
      		<p>{{post.Name.surname}}</p>
    	</div>
  	</div>
  	<div class="row">
    	<div class="col-sm-6">
      		<p>Birth Date</p>
    	</div>
    	<div class="col-sm-6" s>
      		<p>{{post.Date}}</p>
    	</div>
  	</div>
  	<div class="row">
    	<div class="col-sm-6">
      		<p>Birth Place</p>
    	</div>
    	<div class="col-sm-6" s>
      		<p>{{post.BirthPlace}}</p>
    	</div>
  	</div>
	{% endfor %}


	</div>

       
        

        
        
        
    </body>
</html>